.cloud {
    position: absolute;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    --factor: 0.75;
    width: calc(var(--factor)*488px);
    height: calc(var(--factor)*138px);
    z-index: -1;
    &:nth-of-type(1) {
        background-image: url('../images/cloud-lg1.png');
        top: 79px;
        left: -273px;
    }
    &:nth-of-type(2) {
        background-image: url('../images/cloud-lg1.png');
        top: 159px;
        left: 273px;
    }
    &:nth-of-type(3) {
        background-image: url('../images/cloud-lg1.png');
        top: 265px;
        left: 273px;
    }
    &:nth-of-type(4) {
        background-image: url('../images/cloud-lg1.png');
        top: 609px;
        left: 218px;
    }
    &:nth-of-type(5) {
        background-image: url('../images/cloud-lg1.png');
        top: 500px;
        left: 850px;
        z-index: 5;
        --factor: 0.95;
    }
    &:nth-of-type(6) {
        background-image: url('../images/cloud-lg2.png');
        top: 1100px;
        left: 1100px;
        --factor: 0.95;
        // width: calc(var(--factor)*488px);
        // height: calc(var(--factor)*138px);
    }
    &:nth-of-type(7) {
        background-image: url('../images/cloud-lg2.png');
        top: 1400px;
        left: 400px;
    }
    &:nth-of-type(8) {
        background-image: url('../images/cloud-lg1.png');
        top: 1700px;
        left: -100px;
    }
    &:nth-of-type(9) {
        background-image: url('../images/cloud-lg1.png');
        top: 1850px;
        left: 500px;
    }
}

